// liste d'articles
.posts-list{
  .posts-list-intro{

  }

  .post-excerpt{
    // border-bottom: 1px solid lighten($brand-primary, 50%);
    margin: 6px 4px;
  }
}

.thumb_zone{
    position: relative;

    .annonce{
        // transform: rotate(-45deg);
        // -webkit-transform: rotate(-45deg);

        position: absolute;
        bottom: 10%;
        margin: 0 auto;
        width: 100%;
        min-height: 2em;
        text-align: center;
        background-color: #F44;
        line-height: 2em;
        color: #FFF;
        font-weight: bold;
    }
}

@media (min-width: 767px){
  .posts-list{
    article{
      h2{
        min-height:3em;
        line-height: 1em;
      }

      .post-excerpt{
        min-height:6em;
      }
    }
  }
}
