// Déclarations dédiées au footer

#footer {
  // background-color: $navbar-inverse-border;
  // color: #fff;
	padding-top: 20px;
	padding-bottom: 30px;
	margin-top: 80px;
	border-top: 1px solid #ccc;


}
