// Déclarations dédiées au header

#header{
  .navbar{
    margin-bottom:0;

    &.affix{
      top:0;
      z-index: 2;
      width:100%;
    }
  }

  @media (max-width: $screen-sm-max){
    .navbar{
      background-color: $navbar-inverse-border;
    }
  }

  .dropdown-menu > li > a{
    &:hover,
    &:focus{
      text-decoration: underline;
    }
  }

  .main-header {
    //background-color: $navbar-inverse-border;
    margin-bottom:8px;
  }


  #navbar-logo  {
    padding-top: 5px;
    //height: 50px;
    width: 100px;

    a{
      max-height: 100%;
    }
  }


}
